In [156]:
#The below is the Markdown cell that displays H1 Heaind to display text "Data Science Tools and Ecosystem"

# Data Science Tools and Ecosystem

In [158]:
#The below is the Markdown cell that displays H1 Heaind to display text title of the notebook "DataScienceEcosystem"

# DataScienceEcosystem

In [160]:
#Below is the MarkDown cell with an introductory sentence

# In this notebook, Data Sciecnce Tools and Ecosystem are summarized.

**Objectives**
- Python
- R
- SQL
- Julia
- Java

In [162]:
# Markdown cell to list data science languages

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Java

In [164]:
# Markdown cell to list data science libraries

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Plotly
5. ggplot

In [166]:
#Markdown cell with table

| Data Science Tools |
----------------------
| Jupyter Notebook |
| Jupyter Lab |
| RStudio |

In [168]:
# Markdown cell for Arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python
- **Addition:**
- result = (a+b)
- **Subtraction:**
- result = (x-y)
- **Multiplication:**
- result = (x*y)

In [170]:
# Code cell to multiply and add integers

In [171]:
(3*4)+5

17

In [172]:
# Code cell to convert minutes to hours

In [173]:
minutes = 200
hours = 200/60
print(hours)

3.3333333333333335

## Author
Murali Krishna Davuluri